html {
    background-color: #28282B;
}

  /* Title Referencing Logo */

  h1 {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif, Verdana, sans-serif;
    margin-top: 40px;
    color: #023020;
    font-size: 2.4rem;
    cursor: text;
    text-shadow: 2px 2px 2px #5777c6;
  }

 h1:hover {
    font-size: 0;
 }

 h1:hover:before {
    font-size: 2rem;
    content: attr(data-descr);
 }

 .fi {
    display: block;
    font-size: large;
    color: #9c3552; 
    line-height: 3.5;
}
  /* Nav bar section */

nav {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #d4af37 ;
    max-height:10rem;
  }
  
  ul {
    float: right;
  }

  li {
    display: inline-block;
    text-align: center;
  }
  
  li.btn {
   
    background-color: #35529c;  
    border-radius: 10px;
  
  }
  
  a {
    display: inline-block;
    width: 8.5rem;
    padding: 10px 0;
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: bolder;
  }
  
  .clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
  

  .bannerContainer {
    background-image: url("./resources/langtree.png");
    background-position: center;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
  }


  @media only screen and (max-width: 800px) {
    h1 {
      display: none;
    }
  
    li {
      margin-right: 10px;
    }
  
    a {
      width: 100px;
      padding: 5px 0;
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 390px) {
  li {
    margin-bottom: 10px;
  }
  }