body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 6%;
}


.container {
 border: 1.5px solid #A37D24 ;
 padding: 10px;
 margin: 10px auto;
}


/* Color Section */
.color-box {
    display: inline-block;
    width: 33%;
    margin: 20px auto;
    text-align:center;
    min-height: 100px;
}

.col-hex, .col-label {
    color: antiquewhite;
    font-size: 1.2em;
}

.blue {
    background-color: #2d5dcc;
}

.salmon, .salmon > p {
    background-color: #fa8072;
    color: #22385F;
}

.green {
    background-color: #097969;
}

.beige {
    background-color:  #DDC7A0;
    color: #A0B6DD;
}

.beige > p {
    color: #22385F ;
}


/* Font Section*/

.font-box {
    display: inline-block;
    width: 35%;
}

.font-name {
    text-decoration: underline ;
    font-size: 23px;
}

.regular {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}
.lora {
    font-family: 'Lora', serif;;
}

.ibarra-real-nova {
    font-family: 'Ibarra Real Nova', serif;
}

.cuprum {
    font-family: 'Cumprum', sans-serif;
}

.text-box h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Lora', serif;
}

ul {
    display: block;
    list-style-type:square;
    font-family: 'Lora', serif;
}

.text-box h2 {
    font-weight:500;
    font-size: 18px;
    font-family: 'Cumprum', sans-serif;
}


.text-box p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Cumprum', sans-serif;
}