body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    text-align: center;
}

/* Navigation link section */
.navbar {
    list-style: none;
    text-decoration: underline;
}


/* Main Hero Banner */
.mission {
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 25px auto 25px auto;
    display: flex;
}

div.mission-content {
    margin: auto;
    background-color: black;
}


/* Item Section */
.items {
    display: inline-flex;
    max-width: 1000px;
    flex-flow: row wrap;
    justify-content: center;
}

.item-box img {
    height: 200px;
    width: 300px;
    padding: 10px;

}


/* Location Info Section */
.locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    max-width: 1100px;
    margin: auto;

}

.location {
    display: flex;
    justify-content: space-between;
}


footer {
    display: block;
    float: left;
    padding-left: 20px;
}


/* reference: https://content.codecademy.com/courses/freelance-1/unit-4/img-tea-cozy-redline.jpg */